body {
    background-color: slategray;
    text-align: center;
}

p {
    color: white;
    font-family: Shanti;
    font-size: 1.2em;
    margin: 20px;
}

img {
    margin: 60px 0 30px 0;
    width: 250px;
}

input {
    width: 50px;
    height: 50px;
    margin: 2px;
    border: none;
    border-radius: 10px;
    font-family: Shanti;
    text-align: center;
    font-size: 1.3em;
}

input:focus {
    /* border: solid 1px #00FFCE; */
    outline: none;
    background-color: #b6f1ff;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

/* #solve_button {
    background-color: palevioletred;
    color: white;
    width: 200px;
} */

.main_buttons {
    background-color: palevioletred;
    color: white;
    width: 200px;
}

.main_buttons:hover {
    background-color: mediumvioletred;
    cursor: pointer;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    /* justify-content: space-between; */
    justify-content: center;

  }


#T_solution {
    margin-left:auto;
    margin-right:auto;
    border: none;
  }



td {
    width: 55px;
    height: 52px;
    line-height: 52px;
    margin: 2px;
    border: none;
    border-radius: 10px;
    font-family: Shanti;
    font-weight: normal;
    text-align: center;
    font-size: 1.8em;
    background-color: white;
    vertical-align: middle;    
}


#input_grid {
    margin-left:auto;
    margin-right:auto;
}

.square_type1 {
    background-color: #cacad3;
}


div#loading {
    width: 95vw;
    height: 95vh;
    display: none;
    background: url(/static/loading.gif) no-repeat;
    background-size: 20%;
    background-position: center;
    cursor: wait;
    mix-blend-mode: screen;  
    }


#T_solution_row0_col0, #T_solution_row0_col1, #T_solution_row0_col2, #T_solution_row0_col6, #T_solution_row0_col7, #T_solution_row0_col8,
#T_solution_row1_col0, #T_solution_row1_col1,#T_solution_row1_col2,#T_solution_row1_col6,#T_solution_row1_col7,#T_solution_row1_col8,
#T_solution_row2_col0, #T_solution_row2_col1, #T_solution_row2_col2, #T_solution_row2_col6,#T_solution_row2_col7, #T_solution_row2_col8,
#T_solution_row3_col3,#T_solution_row3_col4,#T_solution_row3_col5,#T_solution_row4_col3,#T_solution_row4_col4,#T_solution_row4_col5,#T_solution_row5_col3,#T_solution_row5_col4,#T_solution_row5_col5,
#T_solution_row6_col0, #T_solution_row6_col1,#T_solution_row6_col2,#T_solution_row6_col6,#T_solution_row6_col7,#T_solution_row6_col8,
#T_solution_row7_col0, #T_solution_row7_col1,#T_solution_row7_col2,#T_solution_row7_col6,#T_solution_row7_col7,#T_solution_row7_col8,
#T_solution_row8_col0, #T_solution_row8_col1,#T_solution_row8_col2,#T_solution_row8_col6,#T_solution_row8_col7,#T_solution_row8_col8,

#T_solutionrow0_col0, #T_solutionrow0_col1, #T_solutionrow0_col2, #T_solutionrow0_col6, #T_solutionrow0_col7, #T_solutionrow0_col8,
#T_solutionrow1_col0, #T_solutionrow1_col1,#T_solutionrow1_col2,#T_solutionrow1_col6,#T_solutionrow1_col7,#T_solutionrow1_col8,
#T_solutionrow2_col0, #T_solutionrow2_col1, #T_solutionrow2_col2, #T_solutionrow2_col6,#T_solutionrow2_col7, #T_solutionrow2_col8,
#T_solutionrow3_col3,#T_solutionrow3_col4,#T_solutionrow3_col5,#T_solutionrow4_col3,#T_solutionrow4_col4,#T_solutionrow4_col5,#T_solutionrow5_col3,#T_solutionrow5_col4,#T_solutionrow5_col5,
#T_solutionrow6_col0, #T_solutionrow6_col1,#T_solutionrow6_col2,#T_solutionrow6_col6,#T_solutionrow6_col7,#T_solutionrow6_col8,
#T_solutionrow7_col0, #T_solutionrow7_col1,#T_solutionrow7_col2,#T_solutionrow7_col6,#T_solutionrow7_col7,#T_solutionrow7_col8,
#T_solutionrow8_col0, #T_solutionrow8_col1,#T_solutionrow8_col2,#T_solutionrow8_col6,#T_solutionrow8_col7,#T_solutionrow8_col8
{
        background-color: #cacad3;
}
