<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sudoku Solver</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <body>
        <div id="loading"></div>
        <form id="content" action="solve_sudoku" method="post">
            <br>
            {% for message in get_flashed_messages()%}
                <p> {{message}}</p>
                {% endfor %}
            <br>
            <div class="grid-container" id="input_grid">
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x1" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x2" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x3" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x4" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x5" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x6" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x7" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x8" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x9" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x10" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x11" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x12" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x13" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x14" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x15" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x16" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x17" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x18" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x19" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x20" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x21" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x22" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x23" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x24" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x25" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x26" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x27" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x28" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x29" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x30" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x31" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x32" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x33" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x34" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x35" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x36" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x37" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x38" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x39" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x40" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x41" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x42" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x43" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x44" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x45" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x46" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x47" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x48" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x49" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x50" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x51" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x52" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x53" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x54" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x55" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x56" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x57" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x58" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x59" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x60" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x61" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x62" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x63" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x64" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x65" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x66" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x67" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x68" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x69" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x70" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x71" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x72" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x73" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x74" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x75" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x76" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x77" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" name="x78" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x79" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x80" step="any">
                </div>
                <div class="grid-item">
                    <input type="number" class="square_type1" name="x81" step="any">
                </div>
            </div>
            <br>
            <input type="submit" class="main_buttons" value="SOLVE!" id="solve_button" onclick="loading();">
        </form>
    
    </body>

    <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
        // ]]></script>
        
</html>
