<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sudoku Solver</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <br>
        <form action="hello" method="get">
            {% for message in get_flashed_messages()%}
                <p> {{message}}</p>
                {% endfor %}
        <br>

        {% for table in tables %}
                {{ table|safe }}
        {% endfor %}

        <br>
        <input type="submit" class="main_buttons" value="SOLVE NEW ONE!" id="solve_again_button">

        </form>
    </body>
</html>
